//Theme Colors
$primary-gradient: linear-gradient(81.01deg, #ea5e2d -0.47%, #ea9e2d 96.42%);

$input-color: #fafafb;

// Social Colors
$whats: #75b73b;
$twiter: #1cb7eb;
$facebook: #4e71a8;
$instagram: linear-gradient(to top, #7024c4, #c21975, #c74c4d, #e09b3d),
  linear-gradient(to bottom, #dd913f, #dd913f);
$flickr: linear-gradient(to top, #0063dc, #ff0084);
$youtube: #ca3737;
$linkedin: #0474b4;
