%flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

%absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

%architect-image{
    &{
        position: relative;
        overflow: unset;
    }

    &::after{
        background-color: #000;
        content: '';
        left: 50%;
        height: 50%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 50%;
    }

    > img{
        border-radius: 100%;
    }
}